[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quantkriging"]
	path = quantkriging
	url = https://github.com/cran/quantkriging
